@import url(https://fonts.googleapis.com/css?family=Varela|Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
font-family: 'Varela', sans-serif;

font-family: 'Varela Round', sans-serif;

font-family: 'Montserrat', sans-serif;
*/

body {
	background-color: #ecf0f1;
	color: #2c3e50;
	font-family: 'Josefin Sans', sans-serif;
}

#wrapper {

}

/*----------------NAVBAR----------------*/

nav {
	width: 100%;
	height: 180px;
	background-color: #ecf0f1;
}

#logo {
	float: left;
	width: 580px;
	margin-top:  59.133px;
	margin-left: 120px;
}

.navbar {
	float: right;
	color: #2c3e50;
	margin-top:  59.133px;
	margin-right: 120px;
	font-family: 'Varela', sans-serif;
	font-size: 50px;
}

.navlinks {
	color: #2c3e50;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navlinks:hover {
	color: #7CA9D3;
}

/*
#menuIcon {
margin-top:  35px;
height: 74.063px;
float: right;
}
*/

/*----------------HEADER----------------*/

header {
	width: 100%;
	height: 1125px;
	background-color: #34495E;
	background-image: url("../images/header.svg");
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position:  110px 160px;
}

#title {
	float: left;
	font-family: 'Varela Round', sans-serif;
	font-size: 132px;
	color: white;
	border-radius: 15px;
	border: 10px solid white;
	padding: 50px 40px;
	margin-top: 50px;
	margin-left: 120px;
}

#me {
	font-family: 'Varela', sans-serif;
	font-size: 50px;
	color: white;
	margin-top: 50px;
	margin-left: 120px;
	width: 567.016px;
	float: left;
	clear: both;
	line-height: 150%;
}

#tools {
	float: right;
	margin-right: 120px;
	height: 1025px;
}

/*----------------SOCIAL----------------*/

#social {
	height: 900px;
	background-color: #E64C3C;
}

/*----------------WORK----------------*/

#work {
	width: 100%;
	height: 1250px;
	background-color: #ecf0f1;
}

/*----------------ABOUT ME----------------*/

#about {
	width: 100%;
	height: 950px;
	background-color: #26B99A;
}

/*----------------FOOTER----------------*/

footer {
	width: 100%;
	height: 180px;
	background-color: #ecf0f1;
}

#copyright {
	text-align: center;
	line-height: 180px;
	color: #34495E;
	font-size: 20px;
}